{% load static%}
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/fonts/fontawesome/font-awesome.min.css'%}">
	<title>Wiki | Inscription</title>
</head> 
<body class="bg-ligth">

	<div class="container-fluid">
		<div class="formulaire">
			<h4 class="text-muted home"> <a href="{%url 'home'%}">HOME</a></h4>
			{% if messages %}
			{% for message in messages %}

			<div class="alert alert-danger" role="alert">
			  	{{message}}
			</div>

            {% endfor %}
			{% endif %}

			<div class="card formulaire-card">
				<div class="card-header">
					<h5>Formulaire d'inscription</h5>
					
				</div>
				<div class="card-body">
					<form action="{%url 'form'%}" method="POST">
						{% csrf_token %}

							<div class="input-group mb-3">

						       <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle"></i></span>
							  </div>
							  {{form.nom}}
							
							   <div class="invalid-feedback">
						           Un Nom valide est requis.
						       </div>
							</div> 

							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle"></i></span>
							  </div>
							  {{form.prenom}}

							 
							   <div class="invalid-feedback">
						          Un prénom valide est requis.
						       </div>

							</div>

							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle"></i></span>
							  </div>
							  {{form.username}}

							
							   <div class="invalid-feedback">
						          Un username valide est requis.
						       </div> 

							</div>


							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
							  </div>
							  {{form.date_de_naissance}}

							 
							   <div class="invalid-feedback">
						            Une date de naissance valide est requise.
						       </div> 
							</div>

							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
							  </div>
							  {{form.mail}}

							 
							   <div class="invalid-feedback">
						            Un mail valide est requis.
						       </div>
							</div>

							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon1"><i class="fa fa-unlock"></i></span>
							  </div>
							  {{form.password}}
							  
							  <div class="invalid-feedback">
						           Un mot de passe valide est requis.
						       </div>
							</div>

								<button type="submit" name="soumettre" class="btn btn-primary btn-block">Soumettre</button>

								<small class="text-muted">Vous avez déjà un compte sur WIKI ? <a href="{%url 'login'%}">Se connecter</a></small>
						
						
					</form>
				</div>
			</div>

		</div>
	</div>

	<script type="text/javascript" src="{% static 'blog/js/jquery/jquery-3.2.1.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'blog/js/bootstrap/bootstrap.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'blog/js/custom/custom.js'%}"></script>


</body>
</html>